<head>
    <title>{{page_title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/assests/css/index.css" />
    {{#if showOtherLib}}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/assests/js/jquery.tokeninput.js"></script>
    <link rel="stylesheet" type="text/css" href="/assests/css/token-input.css" />
    {{/if}}
    <link rel="icon" href="https://humanassistai.com/humanassitai.ico"/>
</head>

